
.user-box-wrapper .user-box {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    margin: 2.5%;
}

.tab-content-custom {
    overflow-x: hidden !important;
    max-height: 53vh;
    min-height: 53vh;
}

.tab-content-custom-finalizar {
    overflow-x: hidden !important;
    max-height: 42vh;
    min-height: 42vh;
}

.label-center {
    padding-top: 7px;
}

.content-footer-custom {
    border-top: 0.5px solid #b3c2cc8a;
}

.iconError {
    color: red;
    background-color: #10de10;
}

.iconSuccess {
    color: #10de10;
}

.tab-pane-header-custom-fixed {
    height: 75px;
    border-bottom: 0.5px solid #b3c2cc8a;
}