.content-agenda {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-agenda-buttons {
    margin-left: 16%;
    margin-top: 15%;
}

.btn-agenda {
    height: 50px;
    width: 75% !important;
}

.container-agenda {
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 5px 10px 0 10px;
    cursor: pointer;
}

.display-4 {
    font-size: 2.5rem !important;
}

.badge-info {
    background-color: #1e87f0 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.row-striped {
    padding: 7px !important;
    margin: 5px 0 5px 0;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.row-striped:hover {
    background-color: #d0d0d0a3 !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
  
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.card hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #1e87f094;
    margin: 0px;
    -webkit-animation-name: line-show;
    -webkit-animation-duration: 0.3s;
    animation-name: line-show;
    animation-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
}

.content-without-information-event {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34%;
    font-size: 18px;
    font-weight: 500;
}

/* AJUSTES PARA TELAS PEQUENAS */
@media only screen and (max-width: 766px) {

    .col-list-agendamento {
        padding: 5px !important;
    }

    .col-list-events {
        padding: 5px !important;
    }

    .content-agenda-buttons {
        margin-left: 0 !important;
        margin-top: 30% !important;
    }

    .col-day-calendar {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .display-4 {
        margin-right: 10px !important;
    }
}