* {
    margin: 0;
    padding: 0;
}

.cursorActive {
    cursor: pointer;
}

#logout, #perfil {
    cursor: pointer;
}

.btnCustom {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #fff;
    background-color: #51c9ff;
    border: 1px solid #51c9ff;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all .2s ease-in-out;
}

.btnCustom:hover {
    color: #fff;
    background-color: #1b97cd;
}

.badge-custom {
    background-color: #4c5667b0;
    color: #fff;
}

.label-center {
    padding-top: 7px;
    padding-right: 0;
    text-align: right;
}

.label-copiar-permissao {
    padding-top: 7px;
    padding-right: 20px;
    text-align: right;
}

.label-transferir-atendimento {
    padding-top: 7px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: right !important;
}

.span-badge-filters {
    margin-top: 10px;
}

.btnCustomExcluir {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #fff;
    background-color: #ff5050;
    border: 1px solid #ff5050;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all .2s ease-in-out;
}

.btnCustomExcluir:hover {
    color: #fff;
    background-color: #ff5050d4;
    border-color: #ff5050d4;
}

.btnSecondaryCustom {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #fff;
    background-color: #8898aa;
    border: 1px solid #8898aa;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all .2s ease-in-out;
}

.btnSecondaryCustom:hover {
    color: #fff;
    background-color: #72859a;
    border-color: #6a7e95;
}

.btnSuccessCustom {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #fff;
    background-color: #2cd07e;
    border: 1px solid #2cd07e;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    transition: all .2s ease-in-out;
}

.btnSuccessCustom:hover {
    color: #fff;
    background-color: #25b06b;
    border-color: #23a665;
}

.btnLightCustom {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 5px;
    color: #000;
    background-color: #d4d4d421;
    border: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(50,50,93,.11), 0 1px 5px rgba(0,0,0,.08);
}

.btnLightCustom:hover {
    color: #212529;
    background-color: #dbe9f2;
    border-color: #d2e3ee;
}

.cardBodyCustom {
    overflow-y: auto;
    height: 64.5vh;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #00000052;
}

.cardShadowCustom {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

#divMes {
    height: 300px;
    overflow-y: auto;
}

.btnClose {
    float: right;
    background-color: #0d5aa5 !important;
}

.cursorActive {
    cursor: pointer;
}

.btn-entrar {
    background-color: #0d5aa5;
    border-color: #2cabe3;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    color: #fff;
}

.btn-entrar:hover {
    background-color: #0d5aa5d6;
    color: #fff;
}

.page-breadcrumb {
    padding: 7px 15px !important;
    background: #fff !important;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1) !important;
}

.modal-header-naj {
    background-color: #0d5aa5;
    color: #fff;
    padding: 5px !important;
    position: relative;
    display: block !important;
}

.titulo-modal-naj {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}

.modal-body-naj {
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0;
    height: 72vh;
}

.modal-footer-naj {
    float: left;
    width: 100%;
    display: block;
}

.modal-content-shadow-naj {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 1) !important;
}

.modal-extra-large {
    min-width: 80% !important;
}

.cardNaj {
    display: flex;
    flex-direction: column;
    min-width: 98%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 3px;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 1) !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 14px !important;
}

.subMenuNaj {
    height: 100%;
    cursor: pointer;
    background-color: #fff;
}

.spanMenuNaj {
    float: left;
    font-size: 18px!important;
    margin-right: 10px;
}

.pMenuNaj {
    padding: 15px 14px;
    margin: 0;
    transition: all .1s;
    color: #000 !important;
}

.pMenuNaj:hover {
    background: #0d5aa5;
    -webkit-transform: scale(1.05);
    color: #fff !important;
    box-shadow: 0 0 30px -10px #000;
}

.testezeras {
    color: #000 !important;
}

.testezeras:hover {
    color: #fff !important;
}

.card-naj {
    min-width: 84.1%;
}

.card-header-naj {
    background-color: #d4d4d421;
    width: 100%;
    padding: 0 !important;
    max-height: 40px !important;
}

.card-title-naj {
    color: #000;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase !important;
    font-family: "Rubik",sans-serif;
    margin-block-start: 1.00em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 5px;
    display: block;
}

.card-body-naj {
    padding-top: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow-y: auto;
    height: 64vh;
}

.card-footer-naj {
    background-color: #d4d4d421;
    border: 1px solid #51c9ff21;
    padding: 1rem;
    height: 12%;
}

.tabActiveNaj {
    background-color: #0d5aa5;
    color: #fff !important;
}

/* Seta cursor pointer nos campos input*/
input[type='text'], input[type='number'], input[type='date'], select{
    cursor: pointer;
}

.dropItemSelected{
    background-color: #2f323e42 !important;
}

.height-vh-76 {
    height: 76vh !important;
}

.height-100 {
    height: 100% !important;
}

.height-95 {
    height: 95%;
}

.row-full {
    width: 100% !important;
    margin-left: 0%;
    cursor: pointer;
}

.row-full:hover {
    color: #000 !important;
    background-color: #b3c2cc8a !important;
}

.col-name {
    border-right: 1px dashed #000 !important;
    margin: 0 2px 0 2px !important;
    padding: 0 !important;
}

.col-cpf {
    border-right: 1px dashed #000 !important;
    margin: 0 2px 0 2px !important;
    padding: 0 !important;
}

.col-cidade {
    margin: 0 2px 0 2px !important;
    padding: 0 !important;
    overflow-x: auto;
    padding-right: 8px;
}

.row-full:nth-child(odd) {
    background-color: #fff;
}

.row-full:nth-child(even) {
    background-color: #eee;
}

/*para identar um label a direita em telas pequenas*/
@media only screen and (max-width: 766px) {
    .label-left-modal-sm {
        text-align: left;
        margin-right: -15px;
    }
}

/* Aplica fonte branca com sonbrado nos badges (tags de informação do template)*/
.badge {
    color: #FFF;
    text-shadow: 1px 1px #000;
}

.content-footer-permissao-custom {
    width: 50%;
    bottom: 0;
}

.content-table-copiar-permissao {
    border: 1px solid #e9ecef;
}

.content-footer-copiar-permissao-custom {
    width: 100%;
    margin-left: 45%;
}

.content-table-permissao {
    max-height: 54vh;
    overflow-y: auto;
}

.modal-medium-naj {
    min-width: 50% !important;
    max-width: 50% !important;
}

.modal-copiar-permissao {
    min-width: 50% !important;
    max-width: 50% !important;
    max-height: 45% !important;
    top: 20%;
}

.modal-copiar-permissao > .modal-content-shadow-naj {
    height: 220px;
}

.column-width-45 {
    width: 45px !important;
}

.header-table-copiar-permissao {
    background-color: #d4d4d421;
    width: 100% !important;
    height: 30px !important;
}

.title-header-table-copiar-permissao {
    font-weight: 500 !important;
    text-align: left;
}

.content-permissao-naj {
    min-height: 38vh;
}

.content-select-ajax-padrao {
    background-color: #fff;
    margin-left: 0px;
    margin-top: -17px;
    max-width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    border-top: none !important;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 394px;
    z-index: 999;
    position: fixed;
}

.content-select-ajax-copiar-permissao {
    background-color: #fff;
    margin-left: -3px;
    max-width: 100%;
    border: 1px solid #b3c2cc8a;
    border-top: none !important;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 392px;
    z-index: 999;
    position: fixed;
}

#content-select-ajax-naj-relacionamento {
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #b3c2cc8a;
    border-top: none !important;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    position: absolute;
    width: 54.8%;
}

.content-rows-copiar > .col-name {
    border-right: 1px solid #b3c2cc8a !important;
}

.content-rows-copiar > .col-cpf {
    border-right: 1px solid #b3c2cc8a !important;
}

.content-rows-permissao > .col-name {
    border-right: 1px solid #b3c2cc8a !important;
}

.content-rows-permissao > .col-cpf {
    border-right: 1px solid #b3c2cc8a !important;
}

.content-rows-copiar {
    border-bottom: 1px solid #b3c2cc8a;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#tbody-table-grupo {
    height: 38vh;
    overflow-y: auto;
}

.header-table-permissao {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    font-size: 14px;
    color: #313131;
    font-weight: 500;
    background-color: rgb(251, 251, 251);
    align-items: center;
    border: 1px solid rgba(47, 50, 62, .1);
}

.content-pai-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    height: 78vh;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.content-header-perfil {
    top: 0;
    position: absolute;
    background-color: #fafafa;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;
    padding-top: 20px;
    font-size: 14px;
    height: 40px;
}

.content-body-perfil {
    color: #000;
    margin: 10px;
    margin-top: 12%;
    height: 100%;
}

.content-body-senha {
    color: #000;
    margin: 10px;
    height: 100%;
}

.content-alterar-senha {
    margin: 20px 20px 20px 10px;
    height: 63vh !important;
}

.content-alterar-perfil {
    margin: 20px 10px 20px 20px;
    height: 63vh !important;
}

.box-alterar-senha-perfil {
    margin-top: 10%;
}

.row-content-perfil {
    margin-left: 12%;
}

.btn-light-atendimento-dropdown {
    border: 1px solid #d2e3ee;
    border-radius: 2px;
    box-shadow: none;
    background-color: #ffffffe3 !important;
    width: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-dropdown-item-divider {
    border-bottom: 1px solid rgba(47, 50, 62, .1) !important;
}

.bg-content-messages {
    background-color: #f1f1f1 !important;
}

.content-butons-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51.1%;
    height: 70px;
    bottom: 1px;
    position: fixed;
    border: 1px solid rgba(47, 50, 62, .1);
    background-color: #f1f1f1 !important;
}

.weight-500 {
    font-weight: 500 !important;
}

.weight-700 {
    font-weight: 700 !important;
}

.text-horario-chat {
    font-weight: 400 !important;
    font-size: 10px;
    float: right;
}

.chat-item-inicio-fim-conversa {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 75%;
    height: 40px;
    margin-left: 12%;
    padding-left: 0;
    text-align: center;
    border-radius: 5px;
    background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(244,244,244,1) 27%, rgba(222,222,222,1) 100%);
}

.text-header-inicio-atendimento {
    color: #2cd07e;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0;
}

.text-info-inicio-atendimento {
    color: #2cd07e;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
}

.text-header-fim-atendimento {
    color: red;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0;
}

.text-info-fim-atendimento {
    color: red;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
}

.input-mensagem-chat {
    width: 93%;
    min-height: auto;    
    padding-top: 15px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #d9d9e2a6;
    border-radius: 3px;
    color: #4a4a4a;
    font-size: 14px;
    resize: none;
    margin-left: 6%; 
}

.buttonActionsChat {
    background: transparent !important;
    border: none !important;
    box-shadow: none;
}

.content-buttons-atendimento {
    background-color: #f1f1f1 !important;
    border: 1px solid rgba(47, 50, 62, .1);
    border-top: hidden;
    border-bottom: hidden;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.1px !important;
    margin-right: 0 !important;
}

.content-message-select-user-chat {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 7.5%;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(254, 244, 197);
}

.text-message-select-user-chat {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    color: #4a4a4a;
    padding: 0 !important;
    margin: 0 !important;
}

.text-header-transfer-atendimento {
    color: blueviolet;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0;
}

.text-info-transfer-atendimento {
    color: blueviolet;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0;
}

.iconesStatusMessage {
    font-size: 14px;
}

.iconesStatusMessageSuccess {
    font-size: 14px;
    color: blueviolet;
}

.content-butons-chat-editor-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51%;
    height: 580px !important;
    bottom: 1px;
    position: fixed;
}

.odd-chat-naj {
    width: 70%;
    float: right;
    margin-top: 0 !important;
}

.no-odd-chat-naj {
    width: 70%;
    float: left;
    margin-top: 0 !important;
}

.color-no-odd-naj {
    background-color: #fff !important;
}

.color-odd-naj {
    background-color: #dcf8c6 !important;
}

.selected-conversa-chat {
    background-color: #f1f1f1 !important;
}

.content-chat-box-full {
    height: calc(100vh - 108px) !important;
    background: #e1e4e6 !important;
    border: none !important;
}

.content-chat-box-no-full {
    height: calc(100vh - 180px) !important;
    background: #e1e4e6 !important;
    border: none !important;
}

.text-chat-messages {
    color: #303030 !important;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: left;
}

#content-list-contatos {
    background-color: white !important;
}

.text-no-process-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    font: 14px;
    color: #000;
    font-weight: 500;
}

.chat-item-mostrar-mais-messages {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 30px;
    margin-left: 17px;
    text-align: center;
    cursor: pointer;
    background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(244,244,244,1) 27%, rgb(255 248 248) 100%)
}

.text-button-mais-mensagem-chat {
    color: #00abf7;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0;
}

.item-filter-data-chat-selected {
    background-color: #f1f1f1;
}

.iconBlink {
    animation: blink 1s ease-in infinite;
    color: red;
}

.modal-body-chat-novo-atendimento {
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0;
    height: 84vh;
}

.ajuste-steps-chat {
    height: 85px;
    margin-top: -1.5%;
}

.input-message-novo-atendiment-chat {
    width: 100%;
    height: 153px;
    resize: none;
    border: 1px solid #d9d9e2a6;
    border-radius: 3px;
    color: #4a4a4a;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;;
}

.tab-pane-info-adicional-user-chat {
    height:calc(100vh - 160px);
    overflow-x: hidden !important;
    background-color: white !important;
}

.title-items-processo-chat {
    margin-left: -5px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    padding: 5px !important;
    font-weight: 500;
}

.cursor-pointer {
    cursor: pointer;
}

.row-content-anexo-processo {
    display: flex;
    margin: 0px 10px 0px 10px;
}

#button-encaminhar-anexo-processo {
    position: absolute;
    bottom: 0;
    background-color: #e1e4e6;
    height: 40px;
    padding-top: 3px;
    width: 93%;
}

#button-encaminhar-documento {
    position: absolute;
    bottom: 0;
    background-color: #e1e4e6;
    height: 40px;
    padding-top: 3px;
    width: 93%;
}

.icon-search-input-naj {
    margin-top: 10px;
    margin-left: -20px;
    cursor: pointer;
}

.content-dropbox-filter-chat-time {
    top: 25% !important;
    left: 24% !important;
    position: fixed !important;
    transform: none !important;
}

.row-anexo-documentos:nth-child(odd) {
    background-color: #fff !important;
}

.row-anexo-documentos:nth-child(even) {
    background-color: #f3f3f3 !important;
}

.row-anexo-processo:nth-child(odd) {
    background-color: #fff !important;
}

.row-anexo-processo:nth-child(even) {
    background-color: #f3f3f3 !important;
}

.row-zebra-memo:nth-child(odd) {
    background-color: #e2e2e2 !important;
}

.row-zebra-memo:nth-child(even) {
    background-color: #f1f1f1 !important;
}

.content-info-anexo-chat {
    display: flex;
    color: gray;
}

.btn-download-chat {
    display: flex;
    background-color: #e1e4e6;
    margin-right: 5px;
    border-color: #cccccc;
    border-radius: 50%;
    width: 31px;
}

.content-size-anexo-chat {
    font-size: 10px;
    margin-left: 2% !important;
    margin-top: 6px !important;
    float: left;
}

.icon-download-chat {
    color: #4e4c4c;
    font-size: 20px;
    margin-left: -8px;
}

#content-button-rascunho-message-chat {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-button-rascunho-editor-message-chat {
    position: absolute;
    left: 26px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yiyiyiyiyi {
    display: flex;
}

.cancelar-encaminhar-anexos {
    right: 8%;
    position: absolute;
    font-weight: 800;
    width: 10%;
    border-radius: 50%;
    background: #f31414;
    height: 90%;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#modal-resetar-senha {
    height: 35vh;
    margin-top: 40%;
}

.card-atualizar-dados {
    background: #fff;
    height: 80%;
    width: 60%;
    border-radius: 10px;
}

#main-atualizar-dados {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
}

#content-update-senha-atualizacao-dados {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 42.2vh;
}

#content-avisos-atualizar-dados {
    margin-left: 5px !important;
}

.second-step-atualizar-dados-footer {
    float: left !important;
    margin-top: 6px !important;
    margin-left: 17.1% !important;
}

.align-right-label {
    display: flex !important;
    justify-content: flex-end !important;
}

.input-alterar-dados {
    margin-left: -15px !important;
}

.footer-steps-naj {
    background-color: #d4d4d421;
    height: 75px;    
    display: flex !important;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
}

.ul-footer-steps-naj {
    float: left !important;
    margin-top: 6px !important;
    margin-left: 19.7% !important;
}

.wizard-content .wizard > .actions > ul > .first-step > a:hover {
    background: white !important;
    color: #868a98 !important;
}

.wizard-content .wizard > .actions > ul > li > a:hover {
    background: #2962ffe0 !important;
    color: #fff !important;
}

.footer-steps-naj-atendimento {
    justify-content: unset !important;
}

.ul-footer-steps-naj-atendimento {
    margin-left: 13px !important;
}

.card-editor-chat {
    margin-bottom: 10px !important;
}

.card-editor-chat-nova-mensagem {
    margin-bottom: 0 !important;
}

.icone-codigo-processo-chat {
    margin-top: -4px;
    position: absolute;
}

.badge-status-processo-chat {
    margin-top: 2px;
    margin-left: 5px;
    position: absolute;
}

.ajuste-hora-anexo-chat {
    margin-top: 6px !important;
    float: right;
}

.color-no-odd-naj-usuario-cliente-message {
    background-color: #fff !important;
}

.color-no-odd-naj-no-usuario-cliente-message {
    background-color: #f1f1f1 !important;
}

.td-nome-parte-cliente {
    font-weight: 500;
    color: #000;
}

.icone-parte-processo {
    font-size: 15px !important;
}

.icone-informaçoes-processo {
    font-size: 15px !important;
    margin-top: 2px;
    position: absolute;
}

.badge-status-processo, .badge-informacoes-processo, .badge-nome-partes-processo {
    font-size: 11px !important;
    text-shadow: none !important;
}

.row-status-processo, .row-informacoes-processo {
    margin-left: 10% !important;
}

.icone-download-processo-atividade {
    font-size: 18px !important;
    margin-left: 5px !important;
}

.icone-partes-processo-expanded {
    font-size: 15px !important;
    margin-top: 2px;
}

.icone-search-home-cards {
    margin-bottom: -14px;
    float: right;
}

.no-shadow {
    text-shadow: none !important;
}

.content-dicas-senha-segura {
    font-size: 11px;
    margin-top: 10% !important;
}

.content-button-enviar-smartphone {
    display: none;
}

.btn-cancelar-anexos-modal {
    right: 2%;
    position: absolute;
    cursor: pointer;
    border-color: #3695bf !important;
    margin-top: -8px;
}

.button-adicionar-anexo-modal {
    position: absolute;
    right: 51%;
}

.content-bottom-indicadores-financeiro {
    height: 8% !important;
    margin: 8px !important;
    overflow-y: hidden !important;
}

.span-receber-recer {
    margin-left: 10%;
}

.span-receber-atrasado {
    margin-left: 10%;
}

.span-pagar-pagar {
    margin-left: 10%;
}

.span-pagar-atrasado {
    margin-left: 10%;
}

.content-pai-financeiro > .page-content {
    height: 89% !important;
    min-height: 89% !important;
}

/* AJUSTES PARA TELAS PEQUENAS */
@media only screen and (max-width: 766px) {
    .row-content-perfil {
        margin-left: 0 !important;
        overflow-y: auto !important;
        height: 100% !important;
    }

    .div-alterar-senha {
        padding-left: 0 !important;
    }

    .div-alterar-dados-usuarios {
        padding-left: 0 !important;
    }

    .content-alterar-perfil {
        margin: 20px 24px 20px 10px !important
    }

    .content-alterar-senha {
        margin: 20px 24px 20px 10px !important
    }

    .content-body-perfil {
        height: 87% !important;
    }

    .content-body-senha {
        height: 97% !important;
    }

    .content-dicas-senha-segura {
        font-size: 11px;
        margin-top: 0% !important;
    }

    .label-center {
        text-align: unset !important;
    }

    .data-table-filter {
        width: 350% !important;
    }

    .data-table-footer {
        width: 350% !important;
    }

    .data-table-header {
        width: 350% !important;
    }

    .data-table-content {
        width: 350% !important;
    }

    .datatable-body {
        overflow-x: auto !important;
    }

    .content-right-home {
        margin-top: 10px !important;
    }

    #content-chat-box-full {
        width: 97% !important;
        height: 87% !important;
    }

    #content-messages-chat {
        margin-top: 15px !important;
    }

    .content-butons-chat {
        width: 100% !important;
        height: 75px !important;
        position: absolute !important;
        bottom: auto !important;
    }

    .input-mensagem-chat {
        margin-left: 8% !important;
        width: 74% !important;
    }

    #content-input-tres-pontos-chat {
        left: 25 !important;
    }

    .datatable-body::-webkit-scrollbar{
        width: 5px !important;
        height: 5px !important;
    }

    .datatable-body::-webkit-scrollbar {
        -webkit-appearance: none !important;
        width: 1px !important;
    }

    .datatable-body::-webkit-scrollbar-thumb {
        border-radius: 4px !important;
        background-color: rgba(0, 0, 0, .5) !important;
    }

    .content-message-select-user-chat {        
        margin-top: 4% !important;
    }

    .content-button-enviar-smartphone {
        display: block;
    }

    #content-logo-mensagem {
        display: none !important;
    }

    .chat-list .chat-item.odd .chat-content {
        padding-right: 4px !important;
    }

    .btn-cancelar-anexos-modal {
        right: 1% !important;
        margin-top: -24px;
    }

    .button-adicionar-anexo-modal {
        position: absolute;
        right: 3%;
    }

    .content-bottom-indicadores-financeiro {
        height: auto !important;
        overflow-y: auto !important;
    }

    .content-pai-financeiro {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .span-receber-recer {
        margin-left: 0;
    }

    .span-receber-atrasado {
        margin-left: 0;
    }

    #total_receber_receber {
        margin-left: 5px !important;
    }

    #total_receber_recebido {
        margin-left: 12px !important;
    }

    .span-pagar-pagar {
        margin-left: 0;
    }

    .span-pagar-atrasado {
        margin-left: 0;
    }

    #total_pagar_pagar {
        margin-left: 16px !important;
    }

    #total_pagar_pago {
        margin-left: 38px !important;
    }

    .content-row-chat {
        height: 95%;
    }

    .content-pai-financeiro > .page-content {
        height: 84% !important;
        min-height: 84% !important;
    }
}